.list-group-item:hover:not(.active) {
  cursor: pointer;
  background-color: rgb(227, 227, 227);
}

.align-element-board {
  margin-top: 110px;
}

.float-right {
  float: right;
}

.error {
  color: red;
}

.calculator {
  width: 275px;
  text-align: center;
}

.calcultor-equal {
  background-color: orange !important;
}

.calculator td:hover {
  cursor: pointer;
}

.calculator td:hover:not(.calcultor-equal) {
  background-color: rgb(243, 243, 243);
}
